.container{
    width: 55vw;
    background-color: blue;
    height: 100vh;
    overflow: scroll;
}
.container::-webkit-scrollbar {
    display: none;
  }

.light{
    background-color: aliceblue;
    color: #333;
}
.dark{
    /* background-color: var(--black); */
    background: linear-gradient(to bottom, #333,var(--black) , var(--black), var(--black));
    /* background-color: #333; */
    color: aliceblue;
}